@import './variable.scss';
@import './reset.scss';

.cont {
  width: 1200px;
  margin: 0 auto;
}

.contbox {
  margin-bottom: 80px;
}

.cont-t {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 35px;
}

.cont-t.center {
  justify-content: center;
}

.cont-t h2 {
  font-size: 36px;
  font-weight: 400;
  font-family: Alibaba PuHuiTi;
}

.cont-t h2:after {
  content: '';
  display: block;
  width: 100%;
  height: 8px;
  background: $themeColor;
  margin-top: -9px;
}

.cont-t p {
  font-size: 24px;
  font-weight: 100;
  color: rgba(0, 0, 0, .6);
}

.cont-t span {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}


.contit {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
  h3 {
    font-size: 36px;
    font-weight: bold;
    color: $black;
    font-family: Source Han Sans CN;
  }
  h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    background: $themeColor;
    margin-top: -8px;
  }

  p {
    font-size: 19px;
    color: #CCCCCC;
    text-transform: uppercase
  }
}

.pagination {
  margin-top: 30px;
  text-align: center;
}

.shadow {
  position: relative;

  &:after {
    content: "";
    display: block;
    height: 70px;
    background: url(~@/assets/img/shadow.png) top center no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: -70px;
    width: 100%;
    left: 0;
    z-index: -1;
  }
}

.blocklist {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 0;

  li {
    width: 350px;
    box-shadow: 0 15px 30px rgba($themeColor, 0.2);
    padding: 10px;
    border-radius: 5px;
    margin-right: 75px;
    margin-bottom: 30px;
    transition: 1s;

    &:hover {
      box-shadow: 0 0px 10px rgba($themeColor, 0.15);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    img {
      width: 100%;
      height: 212px;
      border-radius: 5px;
      display: block;
      background: #fafafa;
    }

    p {
      font-size: 19px;
      margin: 15px 0;
      text-align: center;
      line-height: 32px;
      font-weight: 600;
    }

    .btn {
      width: 146px;
      height: 45px;
      color: $themeColor;
      border: 1px solid $themeColor;
      text-align: center;
      line-height: 45px;
      border-radius: 5px;
      font-size: 18px;
      display: block;
      margin: 25px auto 35px;
      cursor: pointer;

      &:hover {
        background: $themeColor;
        color: #fff;
      }
    }
  }
}

.dialog-reset {
  background-color: #F8F8F8;
  >.el-dialog__header {
    padding: 0;
  }
  >.el-dialog__body {
    padding: 40px 120px 30px 90px;
    >h2 {
      color: $themeColor;
      font-weight: bold;
      text-align: center;
      font-size: 36px;
      margin-bottom: 40px;
    }
    .el-form-item__label {
      font-size: 20px;
      font-weight: bold;
      color: $black;
    }
  }
  >.el-dialog__footer {
    text-align: center;
    button {
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 0;
    }
  }
}
